git+https://github.com/Pycord-Development/pycord
PyNaCl
google-cloud-texttospeech>=2.3.0
google-cloud-translate>=2.0.1
psycopg2
sqlalchemy
urllib3
ibm_watson
requests
gspread
oauth2client
pyparsing==2.4.7
wanakana-python